{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%block title%}
        <title>Oficios ODD</title>
        {%endblock %}

        {%block styles%}
        <!-- Nuestros estilos -->
        <link rel="stylesheet" href="{% static 'oficios/styles/styles.css' %}">
        <!-- Estilos de bootstrap -->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous">
        <!-- Iconos de google -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {%endblock %}

    </head>
    <body>
        <header>
            {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">ODD UCR</a>
                <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="{% url 'oficios-home'%}">Inicio<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'oficios-home' %}">Cartas</a>
                    </div>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav align-left">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link">{{ user.get_username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'oficios-home' %}">Cerrar sesión</a>
                    </li>
                    {% else %}
                    <a class="nav-link" href="{% url 'oficios-home' %}">Iniciar sesión</a>
                    {% endif %}
                </div>

            </nav>
            {%endblock%}
        </header>

        <div class="container main mb-4">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}

            {% block content %}

            {% endblock %}
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small bg-dark">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3 text-white">
                <small>© {% now "Y" %} Roberto Vargas</small>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous">
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous">
        </script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous">
        </script>

        {%block js%}
        {%endblock%}
    </body>
</html>