{% extends "oficios/base.html" %}

{% block content %}
<div class="wallpaper">
    <div class="container">

        <div class="row">
            <h1 class="h1-home col-sm-12">Oficios - Observatorio del Desarrollo</h1>
            <h3 class="h3-home col-sm-12">Universidad de Costa Rica</h3>

            <div class="col-sm-6 mt-4">
                <p class="p-home">Somos una unidad de apoyo a la investigación
                    de la Universidad de Costa Rica, orientada a consolidar los
                    procesos de reflexión y toma de decisiones brindando acceso
                    oportuno a información en temas relevantes para el
                    desarrollo nacional.</p>
            </div>
        </div>


    </div>
</div>

{% endblock %}
