{% extends "oficios/base.html" %}

{% block content %}
<input type="hidden" value="{% url 'oficios-home' %}" id="url_page">  

<div class="animated fadeIn fast bg-light view-height">
    <div class="jumbotron bg-transparent pb-0">
        <div class=" mr-0 pr-0"> 
            <div class="row">
                <h1 class="col-sm-12">Control de oficios - Observatorio del Desarrollo</h1>
                <h3 class="h3-home col-sm-12">Universidad de Costa Rica</h3>
    
                <div class="col-sm-6 mt-4">
                    <p class="p-home">Somos una unidad de apoyo a la investigación
                        de la Universidad de Costa Rica, orientada a consolidar los
                        procesos de reflexión y toma de decisiones brindando acceso
                        oportuno a información en temas relevantes para el
                        desarrollo nacional.</p>
                </div>
            </div>
      </div>
    </div>

    <div class="mt-5 wallpaper">
    </div>
    <div class="container">
        <div class="col-12 info-line bg-light"> 
            <div class="row">
                <h3 class="col-12 text-center mt-3 mb-5 pb-2">¿Qué puedo hacer en esta página?</h3>
                <div class="col-sm-12 col-md-3 text-center mb-3">
                    <a href="{% url 'oficio-create' %}"><i class="text-center fas fa-plus home-icon"></i>
                    </a>
                    <h4 class="mt-3">Agregar oficios para llevar un control</h4>
                </div>
                <div class="col-sm-12 col-md-3 text-center mb-3">
                    <a href="{% url 'oficios' %}"><i class="text-center fas fa-eye home-icon"></i>
                    </a>                <h4 class="mt-3">Consultar oficios registrados</h4>
                </div>
                <div class="col-sm-12 col-md-3 text-center mb-3">
                    <a href="{% url 'oficios' %}"><i class="text-center fas fa-edit home-icon"></i>
                    </a>                <h4 class="mt-3">Editar información de oficios registrados</h4>
    
                </div>
               
                <div class="col-sm-12 col-md-3 text-center mb-3" >
                    <a href="{% url 'oficios' %}"><i class="text-center fas fa-trash home-icon"></i></a>
                    <h4 class="mt-3">Eliminar oficios registrados</h4>
                    <small class="text-info">Temporalmente no disponible</small>
                </div>
                
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

