{% extends "oficios/base.html" %}

{% block content %}
<input type="hidden" value="{% url 'login' %}" id="url_page">  

<div class="bg-light">

  <div class="container">
    <div class="view-height pt-4 animated fadeIn fast">

      <div class="mb-1 pb-1 pt-4 row">
  
          <div class="card bg-white-transparent pl-0 pr-0 col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="login-header">
              <h5 class=" h5-login ml-4">Iniciar sesión <i class="fas fa-sign-in-alt"></i></h5>
            </div>
  
            <div class="pl-4 pr-4 mt-3 mb-3">
              <form class="row mt-0" method="POST">
                {% csrf_token %}
  
                <div class="mt-2 col-12">
                    <label class="login-label" for="username">Ingrese su usuario *</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                      </div>
                      <input type="text" class="form-control" id="id_username"
                        name="username" required placeholder="admin">
                    </div>
                  </div>
  
                  <div class="mt-1 mb-3 col-12">
                    <label class="login-label" for="password">Ingrese su contraseña *</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-lock"></i></div>
                      </div>
                      <input type="password" class="form-control" id="id_password"
                      name="password" placeholder="admin">
                    </div>
                  </div>
  
                {% if form.errors %}
                <small class="text-danger text-center col-md-12 pb-2">Ingrese un correo y/o
                    contraseña válidos.</small>
                {% endif %}
                <div class="mt-1 mb-3 col-12 text-center">
                  <button type="submit" class="btn btn-ucr" id="btn-spinner" >Entrar  <span id="active-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
                </div>
            </form>
            </div>
  
              
          </div>
  
      </div>
  </div>
  </div>
  </div>

  
{% endblock %}