{% extends 'oficios/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}
<input type="hidden" value="{% url 'oficios' %}" id="url_page">  

<div class="bg-light  animated fadeIn fast">

<div class="jumbotron bg-transparent">
    <div class=" mr-0 pr-0"> 
        <h1 class="mb-0"> <i class="fas fa-trash"></i> ¿Desea eliminar el oficio {{object.codigo_de_oficio}}?</h1>
        <div class="row pt-2">
            <div class="col-11">
                <small class="">Al eliminar este oficio no podrás darle más seguimiento</small>
            </div>
        </div>
        <hr>
  </div>

<div class="">
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="form-group text-left pt-3 pr-4">
            <a href="{% url 'oficios' %}" class="btn btn-md mr-2 btn-ucr">Volver</a>

            <button class="btn btn-md ml-2 btn-danger" type="submit" id="btn-spinner"> Eliminar <span id="active-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
        </div>
         

        </form>

</div>

</div>
</div>





{% endblock %}
