{% extends 'oficios/base.html' %}
{% load i18n %}
{% load static %}



{% block content %}
<input type="hidden" value="{% url 'oficios' %}" id="url_page">  



<div class="bg-light oficios-list animated fadeIn fast">

    <div class="jumbotron bg-transparent">
        <div class=" mr-0 pr-0"> 
            <h1 class="mb-0"> </i>Lista de oficios </h1>
            <div class="row">
                <div class="col-10">
                    <small class="pb-1">Oficios existentes para el OdD (para descargar el oficio presiona el código)</small>
                </div>
                <div class="col-2 text-right">
                    <a class="btn btn-sm btn-ucr" href="{% url 'oficio-create' %}"  title="{% trans 'Agregar oficio' %}"><i class="fas fa-plus"></i> Agregar oficio</a>
                </div>
            </div>
            <hr>
      </div>

    <div class="pt-3">
        <div class="">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags != 'danger' %}
                        <div class="mb-2">
                            <div class="alert alert-{{message.tags}} mb-0">
                                {{message}}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>

        {% if object_list|length == 0 %}
           <h5 class="text-center mt-3">No hay oficios para mostrar </h5> 
           <h5 class="text-center"><i class="fas fa-info-circle"></i></h5>

       {% else %}
 
            <table class="table table-bordered text-center" id="oficios-table">
                <thead class="">
                  <tr>
                    <th scope="col" class="my-table-text">Código de oficio</th>
                    <th scope="col" class="my-table-text">Unidad académica</th>
                    <th scope="col" class="my-table-text">Dirigido a</th>
                    <th scope="col" class="my-table-text">Asunto</th>
                    <th scope="col" class="my-table-text">Editar</th>
                    <!-- To show the delete option just remove this comment and endcomment tags -->
                    {%comment%}
                    <th scope="col" class="my-table-text">Eliminar</th>
                    {%endcomment%}

                  </tr>
                </thead>
                <tbody>
                    
                        {% for oficio in object_list %}
                        <tr>
                            <td class="my-table-text">{% if oficio.oficio|length > 0 %} <a href="{%url 'oficio-download' oficio.id %}">{{oficio.codigo_de_oficio}}</a> {%else%}{{oficio.codigo_de_oficio}} {%endif%}</td>
                            <td class="my-table-text">{{oficio.unidad_academica}}</td>
                            <td class="my-table-text">{{oficio.a_quien_se_dirige}}</td>
                            <td class="my-table-text">{{oficio.asunto|slice:":40"}}</td>
                            <td>
                                <a class="btn btn-sm btn-ucr" href="{% url 'oficio-update' oficio.id %}"  title="{% trans 'Editar Oficio' %}"><i class="far fa-edit"></i></a>
                            </td>
                            <!-- To show the delete option just remove this comment and endcomment tags -->
                            {%comment%}
                            <td>
                                <a class="btn btn-sm btn-danger" href="{% url 'oficio-delete' oficio.id %}"  title="{% trans 'Eliminar Oficio' %}"><i class="fas fa-trash"></i></a>
                            </td>
                            {%endcomment%}
                        </tr>
                        {% endfor %}
                </tbody>
              </table>

              {%comment%}
        <div class="mt-4">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="paginate_button mr-1">
                    <a href="?page={{ page_obj.previous_page_number }}" class= "btn  btn-sm btn-ucr pag-text"><i class="fas fa-arrow-left"></i></a>
                </li>

                {% endif %}

                <li class="paginate_button">
                    <span class="btn  btn-sm btn-ucr current pag-text">
                        Página {{ page_obj.number }} de {{page_obj.paginator.num_pages }}
                    </span>
                </li>

                {% if page_obj.has_next %}
                <li class="paginate_button ml-1">
                    <a href="?page={{ page_obj.next_page_number }}" class = "btn  btn-sm btn-ucr pag-text"><i class="fas fa-arrow-right"></i></a>
                </li>
                {% endif %}
            </ul>
            <!-- <a href="{% url 'oficios-home' %}" class="btn btn-sm btn-ucr current pag-text texta">
                Volver al inicio
            </a> -->
        </div>
        {%endcomment%}
    {%endif%}
    </div>


</div>


{% endblock %}
