{% extends 'oficios/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}
<input type="hidden" value="{% url 'oficios' %}" id="url_page">  

<div class="bg-light  animated fadeIn fast">

<div class="jumbotron bg-transparent">
    <div class=" mr-0 pr-0"> 
        <h1 class="mb-0"> <i class="fas fa-edit"></i> Editar oficio {{form.codigo_de_oficio.value}}</h1>
        <div class="row pt-2">
            <div class="col-11">
                <small class="">Edita la información del oficio a tu gusto</small>
            </div>
            {%comment%}
            <div class="col-1">
                <a class="btn btn-sm btn-danger" href="{% url 'oficio-update' 1 %} "  title="{% trans 'Eliminar oficio' %}"><i class="fas fa-trash"></i></a>
            </div>
            {%endcomment%}
        </div>
        <hr>
  </div>

<div class="pt-1">
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <fieldset class="pt-4 col-12">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group col-12">
                            {{ form.codigo_de_oficio|as_crispy_field }}
                        </div>
                        <div class="form-group col-12">
                            {{ form.unidad_academica|as_crispy_field }}
                        </div>
        
                         <div class="form-group col-12">
                            {{ form.a_quien_se_dirige|as_crispy_field }}
                        </div>
        
                        <div class="form-group col-12">
                            {{ form.oficio|as_crispy_field }}
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="form-group col-12">
                            {{ form.asunto|as_crispy_field }}
                        </div>
                    </div>
                </div>
            
            </fieldset>
            <hr>
            <div class="form-group text-center pt-3 pr-4">
            <a href="{% url 'oficios' %}" class="btn btn-md mr-2 btn-dark">Volver</a>

            <button class="btn btn-md ml-2 btn-ucr" type="submit"> Aceptar</button>
        </div>
         

        </form>
 
    
    
</div>


</div>
</div>





{% endblock %}